<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
</head>
<body>
  <%- include("header.ejs") %> 
  
  <main>
    <section>
      <p>Here you can explore services, manage your account, or view your usage details.</p>
    </section>

    <section>
      <h3>Available Products</h3>
      
    </section>
  </main>
  <%- include("footer.ejs") %> 

</body>
</html>
